
<a  [routerLink]="['/form']"><button> Form</button></a>
<a  [routerLink]="['/byid']"><button>Car Search</button></a>
    
  
<ul  style="list-style: none;">
    <li *ngFor="let e of cars$  | async;let k = index ">
        <div *ngIf="j==k">
        <form *ngIf="current=='save'" class="container form" autocomplete="off" [formGroup]="form" >
            {{"Update Car Id: #"+ e.id +" Car: "+e.cars}}
            <select   formControlName="cars">
                <option  *ngFor="let i of Cars" >{{i}}</option>
                
            </select>
            <div class="item label">
                describtion:
              </div>
              <div class="item input">
                <input (click)="alert1='true'" type="text" placeholder="describtion"  formControlName="describtion" pattern="[a-zA-Z ]*" />
              <div *ngIf="alert1=='true'">
                <div class="alert" *ngIf="this.form.get('describtion')?.invalid">{{alert+" describtion"}}</div>
              </div>
              </div>
              <div class="item label">
                Image:
              </div>
              <div class="item input">
                <input (click)="alert2='true'" type="text" placeholder="Url"  formControlName="image" pattern="(www|http:|https:)+[^\s]+[\w]*"/>
                <div *ngIf="alert2=='true'">
                  <div  class="alert" *ngIf="this.form.get('image')?.invalid">{{alert+" image"}}</div>
                </div>
              </div>
              <div class="item input">
                ABS: <input type="checkbox" formControlName="abs" />
                ელექტრო შუშა: <input type="checkbox" formControlName="shusha" />
                ლუქი: <input type="checkbox"  formControlName="luqi"/>
                bluetooth: <input type="checkbox"  formControlName="bluetooth"/>
                პარკინგკონტროლი: <input type="checkbox"  formControlName="parkingkontroli"/>
                
              </div>
              
              
              <div class="item input">
                სიგნალიზაცია: <input type="checkbox"  formControlName="signalizacia"/>
                ნავიგაცია: <input type="checkbox"  formControlName="navigacia"/>
                ბორტკომფორტი: <input type="checkbox"  formControlName="bort"/>
                მულტისაჭე: <input type="checkbox"  formControlName="multisache"/>
              </div>
              
            <h3 class="item input"></h3>
          <button (click)="u(e.id);alert2='false';alert1='false'">Save</button>
          <button type="reset" (click)="alert2='false';alert1='false'">Clear</button>
          <button (click)="current='cancle'">Cancle</button>
          </form>
          </div>
    </li>
    <li *ngFor="let e of cars$  | async;let k = index ">
      {{"Car: "+e.cars+"; "}} 
      {{"describtion: "+e.describtion+";  "}} 
      {{"img link: "+e.image+";  "}} <br>
      {{"ABS: "+e.abs+";  "}} <br>
      {{"ელექტრო შუშა: "+e.shusha+";  "}} <br>
      {{"ლუქი: "+e.luqi+";  "}} <br>
      {{"bluetooth: "+e.bluetooth+";  "}} <br>
      {{"სიგნალიზაცია: "+e.signalizacia+";  "}} <br>
      {{"პარკინგკონტროლი: "+e.parkingkontroli+";  "}} <br>
      {{"ნავიგაცია: "+e.navigacia+";  "}} <br>
      {{"ბორდკომპიუტერი: "+e.bort+";  "}} <br>
      {{"მულტისაჭე: "+e.multisache+";  "}} <br>
      <button class="remove" (click)="r(e.id)">Remove</button>
      <button class="upd" (click)="condintion(k)">Update</button>
    </li>
    
    
</ul>